NODE_ENV=development
ENABLE_SWAGGER=true
PORT=3001
API_VERSION=v1

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres?schema=public"
JWT_SECRET='your_jwt_secret_key'
JWT_EXPIRATION_TIME='24h'
JWT_PRIVATE_KEY='your_jwt_private_key'
JWT_PUBLIC_KEY='your_jwt_public_key'

GOOGLE_GENAI_API_KEY=''
GITHUB_TOKEN=''
